<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>ONE TABLE</title>

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!--  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
    integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- 네브바 fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/static/css/navbar.css" />
  <link rel="stylesheet" href="/static/css/footer.css" />
  <link rel="stylesheet" href="/static/css/coursein.css" />

  <!-- 부트스트랩 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <!-- 슬라이드 라이브러리 CDN -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <style>

  </style>
</head>

<body>
  <%-include("navbar.ejs")%>
    <div class="coursein-main">
      <div class="coursein">
        <img src="/uploads/courseIMG/<%=courseDetail.image%>" alt="요리이미지">
        <div class="course-name">
          <%=courseDetail.name%>
        </div>
        <div class="course-intro">
          <%=courseDetail.intro%>
        </div>
        <div class="course-price">
          <%=courseDetail.price.toString().replace( /\B(?=(\d{3})+(?!\d))/g, "," );%>원
        </div>
        <% if(courseDetail.user_id==userId) { %>
          <div class="course-modify-delete">
            <button onclick="location.href='/course/update?courseID=<%=courseDetail.id%>'"
              class="course-modify">수정</button>
            <form action="/course/delete" method="post">
              <input type="hidden" name="courseID" value="<%=courseDetail.id%>" />
              <button type="submit" class="course-delete">삭제</button>
            </form>
          </div>
          <% } %>
            <hr class="hihr">
            <span><i class="fa-regular fa-clock"></i>강의시간</span>
            <span>
              <%=courseDetail.hour%> 분
            </span>
            <span><i class="fa-regular fa-calendar-days"></i>수강기간</span>
            <span>
              <%=courseDetail.date%>
            </span><br />
            <span><i class="fa-solid fa-user"></i>수강정원</span>
            <span>
              <%=courseDetail.totalNumber%>
            </span>

            <% if(countApplication.length==0){ %>
              <span><i class="fa-regular fa-user"></i>현재신청자 수 0 </span><br />
              <button onclick="location.href='/course/apply?courseID=<%=courseDetail.id%>'"
                class="course-apply">수강신청</button>
              <% } else if(courseDetail.totalNumber==countApplication[0].count){ %>
                <div>수강신청 마감</div>
                <% } else { %>
                  <span><i class="fa-regular fa-user"></i>현재신청자 수
                    <%=countApplication[0].count%>
                  </span><br />
                  <button onclick="location.href='/course/apply?courseID=<%=courseDetail.id%>'"
                    class="course-apply">수강신청</button>

                  <% } %>
      </div>
    </div>

    <div class="expect">
      <div class="expect-in">
        <div>기대평</div>
        <hr />
        <form id="registerForm">
          <input type="hidden" name="id">
          <div class="expect-comment">
            <input type="text" name="comment" placeholder="기대평을 작성해주세요." id="expect"><br>
            <button type="button" id="registerBtn" onclick="register(`<%=courseDetail.id%>`);">등록</button>
          </div>
          <div class="d-none" id="loadBtn">
            <button type="button" onclick="correct();" class="correct-btn">수정</button>
            <button type="button" onclick="cancel();" class="cancel-btn">취소</button>
          </div>

        </form>
        <table class="expect-table">
          <% for(var i=0; i<courseReview.length; i++){ %>
            <tr>
              <td>
                <div class="profileImg">
                  <img src="/uploads/profileIMG/<%=courseReview[i].image%>">
                </div>
              </td>
              <td>
                <%=courseReview[i].name%>
              </td>
              <td>
                <%=courseReview[i].comment%>
              </td>
              <% if(courseReview[i].user_id==userId) { %>
                <td>
                  <button type="button" onclick="ellipsisVertical(this); " class="start">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                  </button>
                </td>
                <td>
                  <div class="ellipsis-vertical d-none">
                    <button type="button" onclick="load(`<%=courseReview[i].id%>`, this)"
                      class="comment-mod">수정</button>
                    <button type="button" onclick="del(`<%=courseReview[i].id%>`, this)" class="comment-del">삭제</button>
                  </div>
                </td>
                <% } %>
            </tr>
            <% } %>
        </table>
      </div>
    </div>


    <%-include("footer.ejs")%>

      <script>
        function register(courseID) {
          if ('<%=isLogin%>' == 'false') {
            alert("로그인이 필요한 기능입니다.");
            window.location = "/user/login";
            return false;
          }
          let form = document.getElementById("registerForm");
          axios({
            url: "/course/rregister",
            method: "post",
            data: {
              courseID: courseID,
              comment: form.comment.value
            }
          }).then((response) => {
            $("table").append(
              `<tr>
              <td><div class="profileImg"><img src="/uploads/profileIMG/${response.data.myName.image}"></div></td>
              <td>${response.data.myName.name}</td>
              <td>${response.data.courseReview.comment}</td>
              <td>
                <button type="button" onclick="ellipsisVertical();" class="start">
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
              </td>
              <td>
                <div class="ellipsis-vertical d-none">
                <button type="button" onclick="load(${response.data.courseReview.id}, this)" class="comment-mod">수정</button>
                <button type="button" onclick="del(${response.data.courseReview.id}, this)" class="comment-del">삭제</button>
                </div>
              </td>
            </tr>`
            )
            form.reset();
          })
        }

        function del(id, obj) {
          axios({
            url: "/course/rdelete",
            method: "post",
            data: { id: id }
          }).then((response) => {
            console.log(response.data);
            obj.parentElement.parentElement.remove();
          })
        }

        let correct_tr;
        function load(id, obj) {
          let form = document.getElementById("registerForm");
          axios({
            url: "/course/rload",
            method: "post",
            data: { id: id }
          }).then((response) => {
            form.comment.value = response.data.comment;
            $("#registerBtn").addClass("d-none");
            $("#loadBtn").removeClass("d-none");

            form.id.value = response.data.id;
            correct_tr = obj.parentElement.parentElement;
          })
        }

        function cancel() {
          let form = document.getElementById("registerForm");
          form.reset();
          $("#loadBtn").addClass("d-none");
          $("#registerBtn").removeClass("d-none");
        }

        function correct(id) {
          let form = document.getElementById("registerForm");
          axios({
            url: "/course/rupdate",
            method: "post",
            data: {
              id: form.id.value,
              comment: form.comment.value
            }
          }).then((response) => {
            correct_tr.children[1].innerText = form.comment.value;
            cancel();
          })
        }
        function ellipsisVertical(obj) {
          if ($(".ellipsis-vertical").hasClass("d-none")) {
            $(".ellipsis-vertical").removeClass("d-none");
          } else {
            $(".ellipsis-vertical").addClass("d-none");
          }

        }
      </script>
</body>

</html>