<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ONE TABLE</title>

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
    </script>
  <!--  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
    integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- 네브바 fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/static/css/navbar.css" />
  <link rel="stylesheet" href="/static/css/footer.css" />
  <link rel="stylesheet" href="/static/css/index.css" />
  <script type="text/javascript" src="/static/js/navbar.js">
  </script>
  <!-- 부트스트랩 -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script> -->
  <!-- 슬라이드 라이브러리 CDN -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
  crossorigin="anonymous"
/>
<!-- JavaScript Bundle with Popper -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
  crossorigin="anonymous"
></script>
<!-- axios cdn -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
  integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" />

</head>


<body>
  <!-- 네브바 -->
  <%-include("navbar.ejs")%>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../static/img/main_1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../static/img/main_2.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- 1.BEST RECIPE -->
    <div class="main-first-floor king">
      <div class="main-best-recipe">BEST RECIPE</div>
      <div class="main-best-recipe-more"><a href="#">더보기 <i class="fa-solid fa-arrow-right"></i></a></div>
      <div class="post-slider">
        <div class="post-wrapper">
          <% for(let i=0; i <bestRecipe.length; i++) { %>
            <div class="post">
              <a href="/recipe/<%=bestRecipe[i]['recipe.id']%>">
                <div>
                  <img src="/uploads/recipe/<%=bestRecipe[i]['recipe.image']%>">
                </div>
                <p>
                  <%=bestRecipe[i]['recipe.title']%>
                </p>
              </a>
            </div>
            <% } %>
        </div>
      </div>
    </div>
    </div>

    <!-- 2.BEST CLASS -->
    <div class="main-second-floor king">
      <div class="main-second-floor-text">
        <a href="#" id="main-best-class-a">
          <div class="main-best-class">
            <div>BEST</div>
            <div>CLASS</div>
          </div>
          <div class="main-best-class-more">바로가기 <i class="fa-solid fa-arrow-right"></i></div>
        </a>
      </div>
      <div class="second-slider">
        <div class="second-wrapper">
          <!-- <% for(let i=0; i <bestCourse.length; i++) { %>
            <div class="second">
              <a href="#">
                <img src=`/uploads/courseIMG/<%=bestCourse[i].image%>`>
                <p>
                  <%=bestCourse[i].name%>
                </p>
              </a>
            </div>
            <% } %> -->
            <% for(let i=0; i <bestCourse.length; i++) { %>
              <div class="second">
                <a href="/course/detail?courseID=<%=bestCourse[i]['id']%>">
                  <div>
                    <img src="/uploads/courseIMG/<%=bestCourse[i]['image']%>">
                  </div>
                  <p>
                    <%=bestCourse[i]['name']%>
                  </p>
                </a>
              </div>
            <% } %>
        </div>
      </div>
    </div>

    <!-- 3.KITCHEN GUIDE -->
    <div class="main-third-floor king">
      <div class="main-kitchen-guide">KITCHEN GUIDE</div>
      <div class="main-kitchen-guide-more"><a href="#">더보기 <i class="fa-solid fa-arrow-right"></i></a></div>
      <div class="post-slider">
        <div class="post-wrapper">
          <div class="post-1">
            <a href="#">
              <img src="../static/img/a.jpg">
              <span>타르트지 만드는 법</span>
            </a>
          </div>
          <div class="post-1">
            <a href="#">
              <img src="../static/img/b.jpg">
              <span>케이크 시트 만드는 법</span>
            </a>
          </div>
          <div class="post-1">
            <a href="#">
              <img src="../static/img/c.jpg">
              <span>초콜릿 중탕하는 법</span>
            </a>
          </div>
          <div class="post-1">
            <a href="#">
              <img src="../static/img/d.jpg">
              <span>딸기 손질 법</span>
            </a>
          </div>
          <div class="post-1">
            <a href="#">
              <img src="../static/img/e.jpg">
              <span>아이싱 만드는 법</span>
            </a>
          </div>
          <div class="post-1">
            <a href="#">
              <img src="../static/img/f.jpg">
              <span>바닐라시럽 만드는 법</span>
            </a>
          </div>
          <div class="post-1">
            <a href="#">
              <img src="../static/img/g.jpg">
              <span>땅콩 손질 법</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- 4.EVENT -->
    <div class="main-fourth-floor king">
      <div>
        <a href="#" id="main-event-a">
          <div class="main-event">EVENT</div>
          <div class="main-event-more">
            <div>~57% 이벤트 어쩌구저쩌구어쩌구저쩌구</div>
          </div>
        </a>
      </div>
      <div class="second-slider">
        <div class="second-wrapper">
          <div class="second-1"><a href="#"><img src="../static/img/a.jpg"></a></div>
          <div class="second-1"><a href="#"><img src="../static/img/b.jpg"></a></div>
          <div class="second-1"><a href="#"><img src="../static/img/c.jpg"></a></div>
          <div class="second-1"><a href="#"><img src="../static/img/d.jpg"></a></div>
          <div class="second-1"><a href="#"><img src="../static/img/e.jpg"></a></div>
          <div class="second-1"><a href="#"><img src="../static/img/f.jpg"></a></div>
          <div class="second-1"><a href="#"><img src="../static/img/g.jpg"></a></div>
        </div>
      </div>
    </div>

    <%-include("footer.ejs")%>


      <script>

        $('.post-wrapper').slick({
          infinite: true,
          slidesToShow: 4,
          slidesToScroll: 4,
          prevArrow: "<button type='button' class='slick-prev' id='prev-button'><i class='fa-solid fa-chevron-left'></i></button>",		// 이전 화살표 모양 설정
          nextArrow: "<button type='button' class='slick-next' id='prev-button'><i class='fa-solid fa-chevron-right'></i></button>",
          responsive: [
            {
              breakpoint: 970,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3,
              }
            },
            {
              breakpoint: 560,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2,
              }
            },
            {
              breakpoint: 370,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
              }
            }
          ]
        });

        $('.second-wrapper').slick({
          infinite: true,
          slidesToShow: 3,
          slidesToScroll: 3,
          prevArrow: "<button type='button' class='slick-prev' id='second-prev-button'><i class='fa-solid fa-chevron-left'></i></button>",		// 이전 화살표 모양 설정
          nextArrow: "<button type='button' class='slick-next' id='second-prev-button'><i class='fa-solid fa-chevron-right'></i></button>",
          responsive: [
            {
              breakpoint: 970,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2,
              }
            },
            {
              breakpoint: 560,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
              }
            }
          ]
        });




      </script>
      <!-- Channel Plugin Scripts -->
      <script>
        (function() {
          var w = window;
          if (w.ChannelIO) {
            return (window.console.error || window.console.log || function(){})('ChannelIO script included twice.');
          }
          var ch = function() {
            ch.c(arguments);
          };
          ch.q = [];
          ch.c = function(args) {
            ch.q.push(args);
          };
          w.ChannelIO = ch;
          function l() {
            if (w.ChannelIOInitialized) {
              return;
            }
            w.ChannelIOInitialized = true;
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
            s.charset = 'UTF-8';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
          }
          if (document.readyState === 'complete') {
            l();
          } else if (window.attachEvent) {
            window.attachEvent('onload', l);
          } else {
            window.addEventListener('DOMContentLoaded', l, false);
            window.addEventListener('load', l, false);
          }
        })();
        ChannelIO('boot', {
          "pluginKey": "61a387be-345b-4bd5-87f7-ebf1c058f588"
        });
      </script>
      <!-- End Channel Plugin -->
</body>

</html>